body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:#40514E;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  color: #66bfbf;

}

h2 {
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  padding-bottom: 10px;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}
a {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}
hr{
  border: 6px dotted #eaf6f6;
  border-top: 0;
  width: 4%;
  margin: 100px auto;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-bottom: 100px;
  padding-top: 100px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;

}

.leon{
  width: 15%;
  border-radius: 50%;
}
.HTML5{
  width:25%;
  float:left;
  margin-right: 30px;
}

.CSS3{
  width: 25%;
  float:right;
  margin-left: 30px;
}

.myButton {
	background:linear-gradient(to bottom, #11999E 5%, #66BFBF 100%);
	background-color:#66BFBF;
	display:inline-block;
	cursor:pointer;
	color:WHITE;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

.footer{
  color:#eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro{
  width:30%;
  margin: auto;
}

.contact-me{
  width:40%;
  margin: 40px auto 60px;
}
